<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>

	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<P>Start collecting your contact in smarter way. We provide very
				efficient way to handle your contact</P>
			<a class="btn" th:href="@{/user/dashboard}"><button  class="btn bg-primary btn-lg text-white">Get Started</button></a>
		</div>
	</section>

</body>
</html>